<!-- Reusable navbar. In PHP: <?php include 'partials/navbar.php'; ?> -->
<nav class="navbar navbar-expand-lg navbar-ngo sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <i class="bi bi-tree-fill me-1"></i> HopeBridge NGO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="news.html">News</a></li>
        <li class="nav-item"><a class="nav-link" href="announcements.html">Announcements</a></li>
        <li class="nav-item"><a class="nav-link" href="events.html">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="promotions.html">Promotions</a></li>
        <li class="nav-item ms-lg-2">
          <a class="btn btn-accent-ngo btn-sm px-3" href="#">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
